In [1]:
import numpy as np
import pandas as pd

In [2]:
data={"name":['a','b','c','d','e'],'age':['15y-20y','20y-30y','asd','50y-60y','35y-40y']}
df=pd.DataFrame(data)

In [3]:
df

  name      age
0    a  15y-20y
1    b  20y-30y
2    c      asd
3    d  50y-60y
4    e  35y-40y

In [4]:

import re
def clean(x):
    res=0
    for i in (str(x)).split():  
        num1=i.split("-")
        print(len(num1))
        if len(num1)>1:
            v1=num1[0]
            v2=num1[1]
            vx=re.sub('[^\d]+', '',v1)
            vy=re.sub('[^\d]+','',v2)
            res=round((int(vx)+int(vy))/2)
        elif len(num1)==1:
            res=np.nan
    return res
        
df['age']=df['age'].apply(clean)

2
2
1
2
2

In [5]:
df

  name   age
0    a  18.0
1    b  25.0
2    c   NaN
3    d  55.0
4    e  38.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes

In [7]:
df['age']=df['age'].fillna(df['age'].mean())

In [8]:
df

  name   age
0    a  18.0
1    b  25.0
2    c  34.0
3    d  55.0
4    e  38.0