In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('E:\Datasets\heart.csv')

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
target=data['target']
feature=data.drop('target',axis=1)

In [5]:
from sklearn.preprocessing import MinMaxScaler
scl=MinMaxScaler()
scl.fit(feature)
scl_data=scl.transform(feature)

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(scl_data,target,test_size=0.2, random_state=2)

In [7]:
x_train=x_train.reshape(x_train.shape,x_train.shape,1)
x_test=x_test.reshape(x_test.shape,x_test.shape,1)

TypeError: 'tuple' object cannot be interpreted as an integer

In [ ]:
x_train.shape

In [ ]:
x_test.shape

In [ ]:
import tensorflow as tf
from tensorflow.keras import Sequential,layers

In [ ]:
model=Sequential()
model.add(layers.Conv2D(32,2,activation='relu',input_shape=(x_train.shape)))
model.add(layers.BatchNormalization())
model.add(layers.Dropout(0.4))

model.add(layers.Conv2D(64,2,activation='relu'))
model.add(layers.BatchNormalization())
model.add(layers.Dropout(0.2))

model.add(layers.Flatten())
model.add(layers.Dense(64,activation='relu'))
model.add(layers.Dropout(0.2))
model.add(layers.Dense(1,activation='sigmoid'))

In [ ]:
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(x_train,y_train,batch_size=10,epochs=10,verbose=2)