In [1]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('insurance.csv')

In [ ]:
data.head()

In [5]:
df1=pd.DataFrame({"name":["A","B","C"],"addrs":["AD1","AD2","AD3"],"ID":[1,23,3]})
df2=pd.DataFrame({"sal":[12,23,45],"grade":["GA","GB","GC"],"ID":[11,2,3]})

In [6]:
concatA=pd.concat([df1,df2], join='inner',axis=1)

In [7]:
concatA

  name addrs  ID  sal grade  ID
0    A   AD1   1   12    GA  11
1    B   AD2  23   23    GB   2
2    C   AD3   3   45    GC   3

In [23]:
mergeD=pd.merge(df1,df2,on='ID')

In [24]:
mergeD

  name addrs  ID  sal grade
0    C   AD3   3   45    GC

In [20]:
mergD[mergd['ID']]

[0    A
 1    B
 2    C
 Name: name, dtype: object,
 0    12
 1    23
 2    45
 Name: sal, dtype: int64]